<h1>Admin</h1>
<p><%= @message %></p>

<form action="/admin" method="POST">
	Password:<br> <input type="password" name="password" autofocus><br><br>
	<input type="submit" class="btn btn-primary">
</form>