<h2>Contacts</h2>
<p>We work in Winnipeg!</p>

<form action="/contacts" method="POST" role="form">

  <div class="form-group">
    <label>Your e-mail address:</label>
    <input name="email" type="email" class="form-control" placeholder="Email" autofocus>
  </div>

  <div class="form-group">
    <label>Your message</label>
    <textarea class="form-control" name="umessage" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>