<h1>Hi</h1>
<p>Your login: <%= @login %></p>
<p>Your pswd: <%= @password %></p>
<p><font color = 'red'><%= @denied %></font></p>

<form action="/" method="POST">

	<input type="text" name="aaa"/>
	<input type="password" name="bbb"/>
	<input type="submit"/>

</form>